html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.grey {
    width: 100vw;
    height: 15vh;
    background-color: #d8d8d8;
    position: relative;
}

.square {
    height: 100px;
    width: 100px;
    background-color: #4a90e2;
    position: relative;
    margin-left: 35px;
    top: 50%;
    transform: translateY(-50%);
}

.stuff {
    font-family: Arial, Helvetica, sans-serif;
    width: 90vw;
    background-color: white;
    vertical-align: middle;
    margin: 12vh 5vw;
    font-size: 1.5em;
}
.blue {
    width: 100vw;
    height: 15vh;
    background-color: #4a90e2;
}
.turquoise {
    width: 100vw;
    height: 15vh;
    background-color: #50e3c2;
}
.green {
    width: 100vw;
    height: 15vh;
    background-color: #b8e885;
}
.yellow {
    width: 100vw;
    height: 15vh;
    background-color: #f8e71c;
}
